---
import type { CollectionEntry } from "astro:content";
// Components
import BlogCard from './blogCard.astro'

interface Props {
    posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props
---

<div class="blogs">
    {
      posts.map((post) => (
      <BlogCard 
        slug={post.slug} title={post.data.title} 
        description={post.data.description} pubDate={post.data.pubDate}
        tags={post.data.tags} categories={post.data.categories} heroImage={post.data.heroImage}
      />
     ))
    }
</div>


<style lang="scss">
@import "../assets/mixins.scss";
.blogs {
    grid-area: blog-list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    @include mQ($breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}
</style>