---
import type { CollectionEntry } from "astro:content";
// Components
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import CommentBox from "../components/commentBox.astro";
// Styles
import "../assets/base.css";
import type { MarkdownHeading } from "astro";

type Props = {
  data: CollectionEntry<"blog">["data"],
  headings: MarkdownHeading[]
};

const { title, description, pubDate, updatedDate, heroImage } = Astro.props.data;
const headings = Astro.props.headings
---

<html lang="en">
  <head>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
            <p>{pubDate}</p>
            <hr />
          </div>
          <slot />
        </div>
      </article>
      <aside>
        {
          headings.map(head => (
            <a href={`#${head.slug}`} style={`margin-left: ${head.depth}rem`}>
              <p>{head.text} </p>
            </a>
          ))
        }
      </aside>
    </main>
    <CommentBox repo={'M-Shrief/site'} />

    <Footer />
  </body>
</html>

<style lang="scss">
main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  aside {
    display: flex;
    flex-direction: column;
    min-width: 20%;
  }
}
</style>